@font-face {
font-family: road-rage;
src: url(fonts/Road_Rage.otf);
}
				
@font-face {
font-family: roboto-mono;
src: url(fonts/RobotoMono-VariableFont_wght.ttf);
} 
			
@font-face {
font-family: hvd-peace;
src: url(fonts/HVD_Peace.tff);
				
html {
margin: 0;
overflow: auto;
padding: 0;
scroll-behavior: smooth;
}
			
.header {
color: white;
font-family: road-rage;
font-size: 35px;
width:100%;
}
		
.heading {
color: white;
font-family: road-rage, hvd-peace;
font-size: 35px;
padding: 20 0 5 40;
}
			
.normal-text {
color: white;
font-family: roboto-mono;
font-size: 20px;
padding: 0 45 0 45;
}
			
.caption {
color: gray;
font-family: roboto-mono;
font-size: 16px;
padding: 7 0 0 0;
}

.auto-adjust {
height: auto;
width: 100%;
}
